html {
    background: #EEF3FA;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 300px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 10px;
    background: white;
    border-radius: 5px;
}

nav img {
    width: 40px;
    height: auto;
}

.version {
    display: flex;
    justify-content: end;
    padding: 10px 0;
}

.version span {
    color: gray;
}

.list {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options__list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.control .caption {
    color: gray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: lightgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px lightgreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

footer {
    padding: 20px 0 0;
    display: flex;
    justify-content: end;
}